spring:
  application:
    name: alpha

  datasource:
    url: jdbc:mysql://localhost:3306/alpha?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: alpha
    password: alpha
  openai:
    api-key: ${OPENAI_API_KEY:}
    model: gpt-4o-mini
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: true
        format_sql: true

server:
  port: 8080